* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  color: #333;
  background: purple;
}
#root {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appContainer {
  width: 60rem;
  padding: 1.5rem;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 /
          0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.appContainer h2 {
  flex: 1;
  margin-right: 15px;
}
.questionsList {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.questionContainer {
  padding: 20px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 /
          0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.questionContainer:not(:last-child) {
  margin-bottom: 15px;
}
.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggleAnswerBtn {
  border: 0;
  background: none;
}
.answer {
  margin-top: 15px;
}
.icon {
  font-size: 1.5rem;
  font-weight: 500;
}
